<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
<script src="{{ "/assets/js/main.js" | relative_url }}" charset="utf-8"></script>
  </body>
  <script type="text/javascript" src="https://app.clickfunnels.com/assets/pushcrew.js"></script> <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '131840604261675',
            xfbml      : true,
            version    : 'v2.6'
          });
        };

        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

      </script>
  <div class="fb-customerchat" page_id="181005549080798" minimized="false">
</html>
