<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>{{ page.title }}</title>
        {% vite_client_tag %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
        {% vite_stylesheet_tag codemirror %}

    </head>
    
<body>
    <style>
        .cm-editor{
            height: {{page.height}}px;
        }
    </style>
<section id="static">
    <pre>
	    <code id="static-js">{{ content }}</code>
    </pre>
</section>
<section id="live" class="live hidden">
    <header class="output-header border-rounded-top-no-bottom">
    <h4 class="output-heading">{{ page.title }}</h4>
  </header>
  <div id="editor" class="editor"></div>
    <div class="output-container">
        <div class="buttons-container">
      <button id="execute" class="button run" type="button">
          Run &rsaquo;
        </button>
        <button id="reset" type="button" class="button">Reset</button>
    </div>
    <div id="console" class="output"><code></code></div>
</div>
</section>
{% vite_javascript_tag codemirror %}
<div id="gd"></div>
</body>
</html>